<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.element.NESTABLE">NESTABLE LIST</h1>
			<span class="mainDescription">Drag &amp; drop hierarchical list with mouse and touch compatibility</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: NESTABLE LIST -->
<div class="container-fluid container-fullw bg-white">
	<div>
		<!-- /// controller:  'nestableCtrl' -  localtion: be/js/controllers/nestableCtrl.js /// -->
		<div ng-controller="nestableCtrl">
			<div class="row">
				<div class="col-md-6">
					<div ng-nestable ng-model="mdl">
						{{$item.text}}
					</div>
				</div>
				<div class="col-md-6">
					<h5>Data binding</h5>
					<div class="well">
						{{mdl | json}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: NESTABLE LIST -->